header{
    background-image:url(../img/jumbo.png);
    background-repeat: no-repeat;
    background-size: cover;
    }
.logo{
    height: 10%;
    width: 10%;
}
.nav-items{
    flex-basis: 30%;
}

.flex{
    display: flex;
   
}

.jc-between{
    justify-content: space-between;
}
.line-center{
    align-items: center;
}
.text-center{text-align: center;}

/*.discord{
    background-color: aqua;
    height: 100px;
    width: 200px;
    padding: 50px 50px;
}*/
.center{
   color: white;
   gap: 5%;
   font-size:medium;
   /*padding-top: 20px;*/
}
.acces{
   border-radius: 10px 5px 10px 5px;
   border-radius: 8px;
   border: none;
   padding: 5px;
   padding-right: 10px;
  margin-right: 10px;
}
.padding-top{
    padding-top: 10%;
    padding-left: 10%;
    font-weight: bold;
}

.header-text-center{
   align-items: center;
}

.flex-column{
    flex-direction: column;
}
.flex-center{
    justify-content:center;
    gap: 5%;
}
.jc-aorund{
    justify-content: space-around;
}
.grey{
    background-color: #f6f6f699;
}
.padding-grey{
    padding: 30px 0;
}
.mac{
    background-color: #7289DA;
    border-radius:  55px 10px 15px 20px;
    border-radius: 20px;
    border: none;
    padding: 8px;
    font-size:medium;
    margin-bottom: 10%;
    gap: 10%;
    color: white;
    margin-bottom: 5%;
}
.black{
    background-color: black;
    color: white;
    border-radius:  55px 10px 15px 20px;
    border-radius: 20px;
    border: none;
    padding: 8px;
    font-size:medium;
    margin-bottom: 10%;
    gap: 10%;
    
}
.buttton-1{
    border-radius: 15px 20px 15px 20px;
    border-radius: 20px;
    border: none;
    padding: 5px;
    font-size: medium;
   
}
.white{
    color: white;
    margin: 0% auto;
    width: 50%;
}
.padding-top1{
    padding-top: 2%;
    padding-left: 7%;
    padding-bottom: 3%;
}
.stellar{
    background-image: url(../img/stars.svg);
    padding: 20px;
    background-size: contain;
    background-repeat: no-repeat;
   
     
}
.img4{

}

.title{
    color: #7289DA;
    
    

}
.stretch{
    align-items: stretch;
}
.padding{
    padding-top: 10%;
}
.gap{
    gap: 10px;
}
.social-box{

  padding-left: 5%;
}
footer nav{
    flex-grow: 1;
    padding-left: 10%;
    
}
li{
    padding-top: 5%;
}

.picture-box{ 
    flex-shrink: 0;
   
}
.text-align{
    text-align: center;
}
.margin0{
    margin: 0 auto;
    width: 50%;
}
footer{
    background-color:#23272A ;
}
.white-list{
    color: white;
}
li{
    color: white;
}
ul{
    width: 25%;
}

.tech-text{
    padding: 40px;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}
.width-tech{
    width: 200px;
}